html
  head
    style
      include static/serv.css
    body 
      include header.pug
      h1 Gallery
      div.card1 
        img.card-img-top(src='https://i.pinimg.com/736x/53/98/64/53986438bff22d7678777cc823a91243.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1
        img.card-img-top(src='https://i.pinimg.com/474x/77/a8/4a/77a84a96b452b0c10ab428b0e6fdae11.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://images.pexels.com/photos/35537/child-children-girl-happy.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ33kRn41TmKB4r4Nl7LCVem-mFBerCO4LoelJa-UO94zmFRXX-JwQlJqgC7FN56M-65rM&usqp=CAU', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgky7K-eQlnAdDSIFpvhnI3CmyV3kL6MWkcV7G7PQL&s', alt='.',style='height: 272px;width: 99%;')
      div.card1
        img.card-img-top(src='https://m.media-amazon.com/images/I/71IeYNcBYdL._SL1280_.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://img.freepik.com/free-photo/copy-space-roses-flowers_23-2148860032.jpg?w=2000', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://img.freepik.com/free-photo/top-view-roses-flowers_23-2148860041.jpg?w=2000', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqEUzM67hR5ZFjKe2w7S0cnHtoq7APCkraBjc_9dhb&s', alt='.',style='height: 272px;width: 99%;')

      include footer.pug    
      